/* table {
    margin-top: auto;
    background-color: aqua;
    align-items: center;
}

td {
    padding-left: 20px;
    text-align: center;
}


td {
    align-items: flex-start;
} */

/* td 
{
    text-align: center; 
    vertical-align: middle;
} */

